.controller,
.controller.xbox,
.controller.xbox.edit {
    background: red !important;
    outline: 20px solid lime !important;
}





.controller.xbox.edit .button {
    background-image: url("https://raw.githubusercontent.com/CozartKevin/controller-overly/refs/heads/main/abxy_Pink.svg") !important;
}